Summary:
The application follows a Model-View-Controller (MVC) architecture.
The code is structured with HTML pages and a database integration.
The classes utilize staticmethod, meaning they function as grouped functions without requiring object instances (no need for self), simplifying the design.

Dependecies:
pip install pdfkit
pip install python-docx
pip install bleach
pip install beautifulsoup4
pip install groq
pip install WeasyPrint
pip install cairocffi
pip install -U python-jobspy

download: https://wkhtmltopdf.org/downloads.html
change file path on line 160 in documentModel: wkhtmltopdf_path = r'C:\Program Files\wkhtmltopdf\bin\wkhtmltopdf.exe'

Testing:
python -m unittest discover

Good luck!
